body {
    margin: 0%;
    max-width: 100%;
    max-height: 100%;
}

#homepage {
    position: relative;
    height: 70em;
    max-width: 100%;
    margin: auto;
}

#homepage img {
    display: flex;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
    margin: auto;
}

#name {
    padding-top: 5em;
    text-align: left;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    padding-left: 8em;
    position: absolute;
    bottom: 45em;
    transition: transform 0.5s;
}

#name h1 a {
    color: black;
    text-decoration: none;
}

#name:hover {
    transform: scale3d(1.2, 1.2, 1.2);
    transition: transform 1s;
}

#name h1 a:hover {
    color: rgb(127, 180, 20);
}

#sections {
    display: inline-block;
    padding: 3em;
    bottom: 50%;
    font-size: 1.3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

#sections a {
    color: black;
    text-decoration: none;
}

#sections a:hover {
    color: rgb(175, 1, 113);
}

.linkedin {
    position: absolute;
    text-decoration: none;
    /* transition: tranform 3s; */

}

.linkedin:hover {
    transform: scale3d(1.1, 1.1, 1.1);
    transition: transform 0.1s;
}

.profile {
    position: absolute;
    left: 15em;
    text-decoration: none;
}

.profile:hover {
    transform: scale3d(1.1, 1.1, 1.1);
    transition: transform 0.1s;
}

.education {
    position: absolute;
    left: 21.5em;
    text-decoration: none;
}

.education:hover {
    transform: scale3d(1.1, 1.1, 1.1);
    transition: transform 0.1s;
}

.experience {
    position: absolute;
    left: 32.5em;
}

.experience:hover {
    transform: scale3d(1.1, 1.1, 1.1);
    transition: transform 0.1s;
}

.skills {
    position: absolute;
    left: 42.5em;
}

.skills:hover {
    transform: scale3d(1.1, 1.1, 1.1);
    transition: transform 0.1s;
}

.contact {

    position: absolute;
    left: 48.5em;
}

.contact:hover {
    transform: scale3d(1.1, 1.1, 1.1);
    transition: transform 0.1s;
}

#profile-body {
    max-width: 100%;
}

#profile-wrapper {
    position: relative;
    height: 70em;
    max-width: 100%;
    margin: auto;
}

.profilehead {
    margin: 0%;
    text-align: center;
    color: aliceblue;
    background-color: black;
    height: 3em;
}

.profilehead p {
    margin: 0%;
    padding-top: 0.2em;
    font-family: monospace;
    font-size: 2em;
}

.profile-text {
    font-size: larger;
    font-family: cursive;
    display: flex;
    flex-wrap: wrap;
    border: solid 3em white;
}

.profile-homebutton a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: 1.3em;
    font-family: monospace;
}

.profile-homebutton a:hover {
    color: rgb(175, 1, 113);
    transform: scale3d(1.1, 1.1, 1.1);
    transition: transform 0.1s;
}

#education-body {
    max-width: 100%;
}

.education-wrapper {
    position: relative;
    height: 70em;
    max-width: 100%;
    margin: auto;
}

.eduaction-head {
    margin: 0%;
    text-align: center;
    color: aliceblue;
    background-color: black;
    height: 3em;
}

.education-head-text {
    margin: 0%;
    padding-top: 0.2em;
    font-family: monospace;
    font-size: 2em;
}

.education-timeline ul {
    font-size: larger;
    font-family: cursive;
    display: flex;
    flex-wrap: wrap;
    border: 0ch;
    padding: 1em;
    margin: 1em;
    border: solid 3em white;
}

.education-homebutton a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: 1.3em;
    font-family: monospace;
}

.education-homebutton a:hover {
    color: rgb(175, 1, 113);
    transform: scale3d(1.1, 1.1, 1.1);
    transition: transform 0.1s;
}

#work-body {
    max-width: 100%;
}

.work-wrapper {
    position: relative;
    height: 70em;
    max-width: 100%;
    margin: auto;
}

.work-head {
    margin: 0%;
    text-align: center;
    color: aliceblue;
    background-color: black;
    height: 3em;
}

.work-head p {
    margin: 0%;
    padding-top: 0.2em;
    font-family: monospace;
    font-size: 2em;
}

.work-text {
    font-size: larger;
    font-family: cursive;
    display: flex;
    flex-wrap: wrap;
    border: 0ch;
    padding: 1em;
    margin: 1em;
    border: solid 3em white;
}

.work-homebutton a :hover {
    color: rgb(175, 1, 113);
    transform: scale3d(1.1, 1.1, 1.1);
    transition: transform 0.1s;
}