body {
    margin: 0%;
    max-width: 100%;
    max-height: 100%;
}

#homepage {
    position: relative;
    height: 60em;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

#homepage img {
    display: flex;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
    margin: auto;
}

#name {
    padding-top: 5em;
    text-align: left;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    padding-left: 8em;
    position: absolute;
    bottom: 38em;
    transition: transform 0.5s;
}

#name h1 a {
    color: black;
    text-decoration: none;
}

#name:hover {
    transform: scale3d(1.2, 1.2, 1.2);
    transition: transform 1s;
}

#name h1 a:hover {
    color: rgb(127, 180, 20);
}

#sections {
    display: inline-block;
    padding: 3em;
    bottom: 21em;
    font-size: 1.3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

#sections a {
    color: black;
    text-decoration: none;
    transition: 0.2s;
}

#sections a:hover {
    color: rgb(175, 1, 113);
}

.linkedin {
    position: absolute;
    text-decoration: none;
    transition: 0.2s;
    /* transition: tranform 3s; */

}

.linkedin:hover {
    transform: scale3d(1.1, 1.1, 1.1);
    transition: transform 0.1s;
}

.profile {
    position: absolute;
    left: 15em;
    text-decoration: none;
    transition: 0.2s;
}

.profile:hover {
    transform: scale3d(1.1, 1.1, 1.1);
    transition: transform 0.1s;
}

.education {
    position: absolute;
    left: 21.5em;
    text-decoration: none;
    transition: 0.2s;
}

.education:hover {
    transform: scale3d(1.1, 1.1, 1.1);
    transition: transform 0.1s;
}

.experience {
    position: absolute;
    left: 32.5em;
    transition: 0.2s;
}

.experience:hover {
    transform: scale3d(1.1, 1.1, 1.1);
    transition: transform 0.1s;
}

.skills {
    position: absolute;
    left: 42.5em;
    transition: 0.2s;
}

.skills:hover {
    transform: scale3d(1.1, 1.1, 1.1);
    transition: transform 0.1s;
}

.contact {

    position: absolute;
    left: 48.5em;
    transition: 0.2s;
}

.contact:hover {
    transform: scale3d(1.1, 1.1, 1.1);
    transition: transform 0.1s;
}

#profile-body {
    max-width: 100%;
}

#profile-wrapper {
    position: relative;
    height: 70em;
    max-width: 100%;
    margin: auto;
}

.profilehead {
    margin: 0%;
    text-align: center;
    color: aliceblue;
    background-color: black;
    height: 3em;
}

.profilehead p {
    margin: 0%;
    padding-top: 0.2em;
    font-family: monospace;
    font-size: 2em;
}


#profilemainsection {
    /* border: 1px solid white;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center; */
    border: 1px solid rgb(255, 255, 255);
    margin: 1rem;
    padding: 2rem 2rem;

}

.profile-text {
    font-size: larger;
    font-family: cursive;
    display: inline-block;
    border: 1px solid white;
    padding: 1rem 1rem;
    vertical-align: middle;
}

.profile-img {
    width: 20em;
    height: 16em;
    display: inline-block;
    border: 1px solid white;
    padding: 1rem 1rem;
    vertical-align: middle;
    /* display: inline-block;
    border: 1px solid white;
    padding: 1rem 1rem;
    vertical-align: middle; */
}

#profilemainsection img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}



.profile-homebutton a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: 1.9em;
    font-family: monospace;
    transition: 0.2s;
}

.profile-homebutton a:hover {
    color: rgb(175, 1, 113);
    transform: scale3d(1.1, 1.1, 1.1);
    transition: transform 0.1s;
}

#education-body {
    max-width: 100%;
}

.education-wrapper {
    position: relative;
    height: 70em;
    max-width: 100%;
    margin: auto;
}

.eduaction-head {
    margin: 0%;
    text-align: center;
    color: aliceblue;
    background-color: black;
    height: 3em;
}

.education-head-text {
    margin: 0%;
    padding-top: 0.2em;
    font-family: monospace;
    font-size: 2em;
}

.education-timeline ul {
    font-size: larger;
    font-family: cursive;
    display: flex;
    flex-wrap: wrap;
    border: 0ch;
    padding: 1em;
    margin: 1em;
    border: solid 3em white;
}

.education-homebutton a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: 1.9em;
    font-family: monospace;
    transition: 0.2s;
}

.education-homebutton a:hover {
    color: rgb(175, 1, 113);
    transform: scale3d(1.1, 1.1, 1.1);
    transition: transform 0.1s;
}

#work-body {
    max-width: 100%;
}

.work-wrapper {
    position: relative;
    height: 70em;
    max-width: 100%;
    margin: auto;
}

.work-head {
    margin: 0%;
    text-align: center;
    color: aliceblue;
    background-color: black;
    height: 3em;
}

.work-head p {
    margin: 0%;
    padding-top: 0.2em;
    font-family: monospace;
    font-size: 2em;
}

.work-text {
    font-size: larger;
    font-family: cursive;
    display: flex;
    flex-wrap: wrap;
    border: 0ch;
    padding: 1em;
    margin: 1em;
    border: solid 3em white;
}

.work-homebutton a {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 1.9em;
    font-family: monospace;
    text-decoration: none;
    transition: 0.2s;
}

.work-homebutton a:hover {
    color: rgb(175, 1, 113);
    transform: scale3d(1.1, 1.1, 1.1);
    transition: transform 0.1s;
}

#contact-me {
    max-width: 100%;
    max-height: 100%;
    margin: 0;
}

.contact-me-header {
    margin: 0%;
    text-align: center;
    color: aliceblue;
    background-color: black;
    height: 3em;
}

.contact-me-header p {
    margin: 0%;
    padding-top: 0.2em;
    font-family: monospace;
    font-size: 2em;
}

.input-fields {
    text-align: center;
    padding-top: 2em;
}

.your-name {
    display: inline-block;
    padding: 0.5em;
}

.your-name input {
    width: 12em;
    height: 1.5em;
}


.your-email {
    display: inline-block;
    padding: 0.5em;
    padding-top: 1em;
}

.your-email input {
    width: 12em;
    height: 1.5em;
}

.your-number {
    display: inline-block;
    padding: 0.5em;
}

.your-number input {
    width: 12em;
    height: 1.5em;
}

.message-field {
    text-align: center;
    padding-top: 1em;
    /* width: 40em;
    height: 20em; */
    margin-left: auto;
    margin-right: auto;
}


.message-field input {
    text-align: center;
    width: 40em;
    height: 5em;
    /* text-overflow: ellipsis; */
}

.reset-submit {
    padding: 1em;
}

/* .message-field input::placeholder {
    vertical-align: text-top
} */
.contact-me-homebutton a {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    color: black;
    font-size: 1.9em;
    font-family: monospace;
    text-decoration: none;
    transition: 0.2s;
}

.contact-me-homebutton a:hover {
    color: rgb(175, 1, 113);
    transform: scale3d(1.1, 1.1, 1.1);
    transition: transform 0.1s;
}